#home {
	background: white;
	color: black;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

#imgRedonda{
    border-radius: 100%;

    max-width: 100px;
}

.cointainerInterview {
	border-bottom: 1px solid #e5e5e5;
	padding: 7%;
}

.interviewVideos {
	display: flex;
	padding-top: 20px;
	align-items: center;
}

.imgInterview{
	width: 90%;
	height: 150px;
}

.divButton{
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
}

#interviewButton{
	align-items: flex-end;
}

.finalContainer{
	padding: 7%;
	display: grid;
	justify-content: space-around;
	grid-template-areas:
	  'finalContainer1 finalContainer2'
	  'finalContainer1 finalContainer3'
}

.Novidades {
	grid-area: finalContainer1;
}

.imgNews{
	display: flex;
	margin-top: 5%;
}

.textNews{
	display: block;
	padding: 5%;
}

.Sobre {
	grid-area: finalContainer2;
	background-color: blac;
}

.Editorial {
	grid-area: finalContainer3;
}

/* Respondividade para mobile */
@media only screen and (max-width: 767px) {
	.cointainerInterview {
		background-color: pink;
	}
}
.rating-color {
	color: orange;
}
